.main {
    background-color: #EEEEEE;
}
.footer, .navbar, #header, .btn-card {
    background-color: #D2AFA8;
}
h1, h2 {
    font-family: 'Satisfy', cursive;
}
h2 {
    
    font-size: 1.5em;
}
.p {
    text-align: justify;
}
body {
    margin-top: 3.5em;
}
img {
    margin:auto;
    height: 300px;
    max-width: 300px;
}
small {
    text-align: center;
}